@model RadaCode.InDoc.Core.Models.ExistingNamingsModel

<script type='text/javascript' src='/Content/scripts/knockout-2.1.0.js'></script>
<script type="text/javascript" src="/Content/scripts/InDocAdminInit.js"></script>

<div>
    <p>На данный момент в системе зарегистрированы следующие политики именования документов:</p>
    <div style="display: block; width: 100%">
       
        <div style="display: table-row">
            <div style="display: table-cell">Тип документа</div>
            <div style="display: table-cell">Шаблон именования</div>
        </div>
        <div data-bind="foreach: ExistingNamings">
            @foreach (var naming in Model.ExistingNamings)
            {
                <div style="display: table-row">
                <span style="display: table-cell" data-bind="text: typeName()">@Model.TypeName</span>
                    <div style="display: table-cell">
                        <div style="display: block">
                            <div style="display: table-row">
                                <div style="display: table-cell" data-bind="foreach: formatBlocks()">
                                    @foreach (var block in Model.NameBlocks)
                                    {
                                        <input type="text" class="name-block" value="@block"/>
                                    }
                                </div>
                            </div>
                            <div style="display: table-row">
                                <div style="display: table-cell" data-bind="foreach: paramBlocks()">
                                    @foreach (var block in Model.ParamBlocks)
                                    {
                                        <input type="text" class="param-block" value="@block"/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>