@using System.Web.Script.Serialization

<link rel="stylesheet" href="/Content/Styles/namings.css" type="text/css" media="all"/>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/start/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
@*<script type='text/javascript' src='/Content/scripts/knockout-2.1.0.js'></script>*@
<script type='text/javascript' src='/Content/scripts/knockout-2.1.0.debug.js'></script>
<script type='text/javascript' src='/Content/scripts/knockout.mapping.js'></script>
<script type="text/javascript" src="/Content/scripts/InDocAdminInit.js"></script>

@{
	var initValue = @Html.Raw(new JavaScriptSerializer().Serialize(Model));
	@Html.Hidden("initial-namings-data", (HtmlString)initValue);
}
<div id="namings-control">
	
		
	<p>На данный момент в системе зарегистрированы следующие политики именования документов:</p>
	<br/>
	<table>
		<thead>
			<tr>
				<th>Тип документа</th><th>Шаблон именования</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: ExistingNamings">
			<tr>
				<td>
					<span data-bind="text: TypeName"></span>
				</td>
				<td>
					<div style="display: block">
						<div style="display: table-row">
							<div style="display: table-cell" data-bind="foreach: NameBlocks">
								<input type="text" class="name-block" data-bind="value: $data"/>                                    
							</div>
						</div>
						<div style="display: table-row">
							<div style="display: table-cell" data-bind="foreach: ParamBlocks">
								<!-- ko if: $data !== '' -->
								<input type="text" class="param-block" data-bind="value: $data"/> 
								<!-- /ko -->       
								<!-- ko if: $data === '' -->  
								<input type="text" class="param-block hidden" data-bind="value: $data"/>
								<!-- /ko -->                            
							</div>
						</div>
					</div>
				</td>
				<td>
					<div id="add-block-dialog" title="Добавление блока в именование" data-bind="dialog : { autoOpen: false, modal: true, buttons: { 'Добавить': function () { alert('adding block'); }, 'Отменить': function () { $(this).dialog('close'); }}}, dialogVisible: isDialogOpen">
						<fieldset>
							<legend>Тип блока</legend>
							<input type="radio" name="group1" id="custom-block" value="custom"  data-bind="checked: dialogRadioValue"/> 
							<label for="custom-block">Спец поле</label> 
							<input type="radio" name="group1" id="text-block" value="text" data-bind="checked: dialogRadioValue"/>
							<label for="text-block">Текст</label>  
						</fieldset>   
						<fieldset id="custom-field" data-bind="visible: dialogRadioValue() == 'custom'">
							<legend>Спец поле</legend>
							<select data-bind="options: $root.NamingCodes, optionsText: 'Code', value: dialogSelectedCode, optionsCaption: 'Выбери тип блока...'"></select>
							<input type="text" data-bind="visible: dialogSelectedCodeHasValue, value: dialogSelectedCodeValue"/>
						</fieldset> 
						<fieldset id="text-field" data-bind="visible: dialogRadioValue() == 'text'">
							<legend>Текстовое поле</legend>
							<input type="text" data-bind="value: dialogSelectedCodeValue"/>
						</fieldset> 
					</div>
					<button data-bind="jqButton: true, click: addBlock">Добавить блок</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>​