table {
    border-color: rgb( 100, 100, 255); 
    border-style: dashed; 
    border-width: 1px;
} 

table th {
    text-align: left;
    padding-right: 3em;
    border-bottom-color: rgb( 100, 100, 255); 
    border-bottom-style: dashed; 
    border-bottom-width: 1px;
}

.name-block {
    text-align: center;
    display: inline-block;
    width: auto;
}

.param-block {
    text-align: center;
    display: inline-block;
    width: auto;
}

.blocks-row {
    display: table-row;
}

.naming-type {
    width: 10%;
}

.naming-blocks {
    width: 75%;
}

.naming-add {
    width: 15%;
}

.hidden {
    visibility: hidden;
}