@model RadaCode.InDoc.Data.DocumentNaming.NamingApproach

<tr>
    <td>@Model.TypeName</td>
    <td>
        <div style="display: block">
            <div style="display: table-row">
                <div style="display: table-cell">@Model.Format</div>
            </div>
            <div style="display: table-row">
                <div style="display: table-cell">@Model.CurrentParamsCounters</div>
            </div>
        </div>
    </td>
</tr>