<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <!--<sectionGroup name="sensenet">
      <section name="uploadFileExtensions" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>-->
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="adsync.log" footer="" formatter="AdSync Text Formatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="None"
        rollSizeKB="200" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="AdSync Flat File Trace Listener" />
      <add source="Enterprise Library Logging" formatter="" log="Application"
        machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Application EventLog TraceListener" />
      <add databaseInstanceName="SnCrMsSql" writeLogStoredProcName="proc_LogWrite"
        addCategoryStoredProcName="proc_LogAddCategory" formatter="XmlFormatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database"
        name="Database Trace Listener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="SenseNet.Diagnostics.OneLineTraceListener, SenseNet.Storage, Version=5.9.1.2, Culture=neutral, PublicKeyToken=null"
        name="Debug Trace Listener" initializeData="" formatter="OneLineFormatter" />
      <add source="SenseNetInstrumentation" formatter="Text Formatter"
        log="SenseNet" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Information" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="SenseNet EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="{timestamp} {severity} {message} {keyvalue(Messages)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="AdSync Text Formatter" />
      <add template="{severity} {category} {message}: Properties: {dictionary({key}={value};)}; Timestamp: {timestamp}; Machine: {machine}; AppDomain: {appDomain}; ProcessId: {processId}; Process: {processName}; Win32ThreadId: {win32ThreadId}; ThreadName: {threadName}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="OneLineFormatter" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Text Formatter" />
      <add template="&lt;LogEntry&gt;&#xD;&#xA;  &lt;Timestamp&gt;{timestamp}&lt;/Timestamp&gt;&#xD;&#xA;  &lt;Message&gt;{message}&lt;/Message&gt;&#xD;&#xA;  &lt;Category&gt;{category}&lt;/Category&gt;&#xD;&#xA;  &lt;Priority&gt;{priority}&lt;/Priority&gt;&#xD;&#xA;  &lt;EventId&gt;{eventid}&lt;/EventId&gt;&#xD;&#xA;  &lt;Severity&gt;{severity}&lt;/Severity&gt;&#xD;&#xA;  &lt;Title&gt;{title}&lt;/Title&gt;&#xD;&#xA;  &lt;Machine&gt;{machine}&lt;/Machine&gt;&#xD;&#xA;  &lt;ApplicationDomain&gt;{appDomain}&lt;/ApplicationDomain&gt;&#xD;&#xA;  &lt;ProcessId&gt;{processId}&lt;/ProcessId&gt;&#xD;&#xA;  &lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;&#xD;&#xA;  &lt;Win32ThreadId&gt;{win32ThreadId}&lt;/Win32ThreadId&gt;&#xD;&#xA;  &lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;&#xD;&#xA;  &lt;ExtendedProperties&gt;{dictionary(&lt;{key}&gt;{value}&lt;/{key}&gt;&#xD;&#xA;)}&lt;/ExtendedProperties&gt;&#xD;&#xA;&lt;/LogEntry&gt;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="XmlFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="AdSync">
        <listeners>
          <add name="AdSync Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Audit">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="Debug Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Debug Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="SenseNet EventLog TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SenseNet EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Server=SQL.LIVEREPAIR.LOCAL;Database=SenseNetContentRepository;User ID=snSystem;Password=sn5318;Trusted_Connection=False"
			providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="WebDirectoryExclusions" value="LuceneIndex, LuceneIndex_backup, obj, Root, WebSite.csproj, WebSite.csproj.user, WebSite.csproj.vspscc" />
    <add key="BackupDirectoryPrefix" value="SnBackup-" />
    <add key="WebZipPrefix" value="WebSite-" />
    <add key="DatabaseBackupPrefix" value="SenseNetContentRepository-" />

    <add key="ClusterChannelProvider" value="SenseNet.Communication.Messaging.MsmqChannelProvider, SenseNet.Storage"/>
    <add key="MsmqChannelQueueName" value=".\private$\ryan"/>
    <!-- in seconds (default: 5) -->
    <add key="IndexBackupStartedTimeOut" value="5"/>
    <!-- in seconds (default: 20) -->
    <add key="IndexBackupFinishedTimeOut" value="20"/>
    <!-- in seconds (default: 20) -->
    <add key="IndexRestoringTimeOut" value="20"/>
    
    <add key="EnableOuterSearchEngine" value="false"/>
    <add key="IndexBackupCreatorId" value="CustomId"/>

    <add key="DataProvider" value="SenseNet.ContentRepository.Storage.Data.SqlClient.SqlProvider" />
    <add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
