<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DataProvider" value="SenseNet.ContentRepository.Storage.Data.SqlClient.SqlProvider"/>
		<add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider"/>
		<add key="DefaultLockTimeout" value="60"/>
		<add key="ScriptMode" value="Release"/>
		<add key="TinyMCEPath" value=""/>
		<add key="SNScriptPath" value=""/>
    <add key="ClusterChannelProvider" value="SenseNet.Communication.Messaging.MsmqChannelProvider, SenseNet.Storage"/>
    <add key="MsmqChannelQueueName" value=".\private$\ryan"/>

    <!-- structure -->
    <add key="ContentTemplateFolderPath" value="/Root/ContentTemplates"/>
    <add key="IMSFolderPath" value="/Root/IMS"/>
    <add key="ResourceFolderPath" value="/Root/Localization"/>
    <add key="SkinRootFolderPath" value="/Root/Skins"/>
    <add key="SkinGlobalFolderPath" value="/Root/Global"/>

  </appSettings>
	<connectionStrings>
    <add name="SnCrMsSql" connectionString="Server=SQL.LIVEREPAIR.LOCAL;Database=SenseNetContentRepository;User ID=snSystem;Password=sn5318;Trusted_Connection=False"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
