<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SenseNet.Workflow.Properties.Settings.SenseNetContentRepositoryConnectionString"
            connectionString="Data Source=MySenseNetContentRepositoryDataSource;Initial Catalog=SenseNetContentRepository;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>