{
mode : 'textareas',
theme : 'advanced',
skin: 'sensenet',
plugins : 'autoresize,sncontentpicker,sncontent,safari,pagebreak,style,layer,table,advlink,advhr,iespell,directionality,emotions,inlinepopups,insertdatetime,preview,media,searchreplace,contextmenu,snpaste,noneditable,visualchars,nonbreaking,xhtmlxtras,template,fullscreen,print',
theme_advanced_buttons1 : 'fullscreen,|,newdocument,|,snimage,image,sncontent,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect',
theme_advanced_buttons2 : 'cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor',
theme_advanced_buttons3 : 'tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl',
theme_advanced_buttons4 : 'insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak',
theme_advanced_toolbar_location : 'external',
theme_advanced_statusbar_location : 'none',
theme_advanced_resizing : true,
theme_advanced_resize_horizontal : false,
theme_advanced_path_location : 'none',
content_css: '/Root/Global/styles/RichText.css',
body_class : "sn-richtext",
extended_valid_elements : 'table[sncontentintext|align<center?left?right|bgcolor|border|cellpadding|cellspacing|class|dir<ltr?rtl|frame|height|id|lang|onclick|ondblclick|onkeydown|onkeypress|onkeyup|onmousedown|onmousemove|onmouseout|onmouseover|onmouseup|rules|style|summary|title|width]'
}