<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DataProvider" value="SenseNet.ContentRepository.Storage.Data.SqlClient.SqlProvider"/>
		<add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider"/>
		<add key="DefaultLockTimeout" value="60"/>
		<!-- javascript entries start -->
		<add key="ScriptMode" value="Release"/> <!-- value: Debug, Release-->
		<add key="TinyMCEPath" value=""/>
		<add key="MSAjaxLibraryPath" value=""/>
		<!-- javascript entries end -->
	</appSettings>
  <connectionStrings>
    		<add name="SnCrMsSql" connectionString="Server=SQL.LIVEREPAIR.LOCAL;Database=FlexNetDataStore;User ID=snSystem;Password=sn5318;Trusted_Connection=False"
			providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
