<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="sensenet">
      <section name="uploadFileExtensions" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
  </configSections>
  <unity>
    <typeAliases>
      <!-- Provider aliases -->
      <typeAlias alias="IApplicationCache" type="SenseNet.ContentRepository.Storage.AppModel.IApplicationCache, SenseNet.Storage" />
      <!--<typeAlias alias="IActionFactory" type="SenseNet.ContentRepository.IActionFactory, SenseNet.ContentRepository" />-->
      <typeAlias alias="ISearchEngine" type="SenseNet.ContentRepository.Storage.Search.ISearchEngine, SenseNet.Storage" />
      <!-- Provider implementation aliases -->
      <typeAlias alias="IApplicationCacheImpl" type="SenseNet.ContentRepository.ApplicationCache, SenseNet.ContentRepository" />
      <!--<typeAlias alias="IActionFactoryImpl" type="SenseNet.Portal.PortalActionLinkManager, SenseNet.Portal" />-->
      <typeAlias alias="ISearchEngineImpl" type="SenseNet.Search.LuceneSearchEngine, SenseNet.ContentRepository" />
    </typeAliases>
    <containers>
      <container name="Providers">
        <types>
          <!-- Binding providers to implementations -->
          <type type="IApplicationCache" mapTo="IApplicationCacheImpl" />
          <!--<type type="IActionFactory" mapTo="IActionFactoryImpl" />-->
          <type type="ISearchEngine" mapTo="ISearchEngineImpl" />
        </types>
      </container>
    </containers>
  </unity>
  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Server=SQL.LIVEREPAIR.LOCAL;Database=SenseNetContentRepository;User ID=snSystem;Password=sn5318;Trusted_Connection=False"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <sensenet>
    <uploadFileExtensions>
      <add key=".jpg" value="Image" />
      <add key=".jpeg" value="Image" />
      <add key=".gif" value="Image" />
      <add key=".png" value="Image" />
      <add key=".bmp" value="Image" />
    </uploadFileExtensions>
  </sensenet>
  <appSettings>
    <add key="SpecialWorkingMode" value="Import" />
    
    <add key="OperationTrace" value="false"/>
    <add key="CreateJournalItems" value="false"/>
    <add key="AuditEnabled" value="false" />
    <add key="DisabledNodeObservers" value="SenseNet.Portal.SkinObserver;SenseNet.Portal.UI.ScriptDependencyObserver;SenseNet.Portal.Workspaces.JournalObserver;SenseNet.ApplicationModel.AppStorageInvalidator;SenseNet.ContentRepository.Storage.AppModel.AppCacheInvalidator;SenseNet.ContentRepository.Storage.AppModel.RepositoryEventRouter;SenseNet.Portal.Portlets.ImageGalleryObserver;SenseNet.Workflow.WorkflowNotificationObserver;SenseNet.Messaging.NotificationObserver"/>
    
    <add key="DataProvider" value="SenseNet.ContentRepository.Storage.Data.SqlClient.SqlProvider" />
    <add key="AccessProvider" value="SenseNet.ContentRepository.Security.DesktopAccessProvider" />
    <add key="DefaultLockTimeout" value="60" />
    <add key="ScriptMode" value="Release" />
    <!--<add key="ClusterChannelProvider" value="SenseNet.Communication.Messaging.MsmqChannelProvider, SenseNet.Storage" />-->
    <!--we dont need nlbs notification in importing -->
    <!--<add key="MsmqChannelQueueName" value=".\private$\ryan" />-->
    <add key="BackwardCompatibilityXmlNamespaces" value="true" />
    <!-- Default IndexDirectoryPath: 'LuceneIndex' directory in the parent of executing assembly codebase. Configured path can be absolute or relative. -->
    <!--<add key="IndexDirectoryPath" value="..\LuceneIndex" />-->
    <add key="EnableOuterSearchEngine" value="false" />
    <!-- structure -->
    <add key="ContentTemplateFolderPath" value="/Root/ContentTemplates" />
    <add key="CellTemplatesPath" value="$skin/celltemplates"/>
    <add key="DefaultSkinName" value="sensenet"/>
    <add key="IMSFolderPath" value="/Root/IMS" />
    <add key="ResourceFolderPath" value="/Root/Localization" />
    <add key="SkinRootFolderPath" value="/Root/Skins" />
    <add key="SkinGlobalFolderPath" value="/Root/Global" />
    <add key="PageTemplateFolderPath" value="/Root/Global/PageTemplates" />
    <!-- If this is set to true, the importer will skip missing user references for the CreatedBy, ModifiedBy fields. Default is False -->
    <!--<add key="SkipImportingMissingReferences" value="false"/>-->
    <!--Whether to skip binary field import if the given attachment does not exist (used to modify content metadata only).-->
    <!--<add key="SkipBinaryImportIfFileDoesNotExist" value="false"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <globalization resourceProviderFactoryType="SenseNet.ContentRepository.i18n.SenseNetResourceProviderFactory, SenseNet.ContentRepository" />
  </system.web>
</configuration>
