<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=snLang%>" xml:lang="<%=snLang%>">
<head>
    <title><% = (SenseNet.Portal.Virtualization.PortalContext.Current.Workspace != null) ? SenseNet.Portal.Virtualization.PortalContext.Current.Workspace.DisplayName : "Sense/Net" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <sn:BaseTag ID="BaseTagControl1" runat="server" />  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="sn-body sn-layout10 sn-layout-explore sn-intra-<%=snLang%>">
<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
  
  <sn:CssRequest CSSPath="$skin/styles/jqueryui/jquery-ui.css" ID="pageTemplateUIStyleReq" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/sn-layout.css" ID="snLayoutCss" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/skin.css" ID="pageTemplateCssRequest1" runat="server" />
    
  <div class="sn-layout-container ui-helper-clearfix">
    <snpe-zone name="HeaderTools" HeaderText="Header tools" PartChromeType="BorderOnly">
      <snpe:ContentPortlet id="contentcard" runat="server" BindTarget="CurrentContent" Renderer="/Root/Global/renderers/ContentCardLarge.xslt" RenderingMode="Xslt">
      </snpe:ContentPortlet>
      <snpe:UserControlPortlet ChromeType="None" id="exploretoolbar" runat="server" ControlPath="/Root/System/SystemPlugins/Controls/ExploreToolbar.ascx">
      </snpe:UserControlPortlet>
    </snpe-zone>
        
    <div class="sn-columns ui-helper-clearfix">
      <div class="sn-column2">
        <snpe-zone name="RightCol" HeaderText="Right Column" PartChromeType="TitleAndBorder"></snpe-zone>
      </div>
      <div class="sn-column1 ui-helper-clearfix">
        <snpe-zone name="CenterCol" HeaderText="Center Column" PartChromeType="TitleAndBorder"></snpe-zone>
      </div>
    </div>
    <div class="sn-layout-full ui-helper-clearfix">
      <snpe-zone name="FullZone" HeaderText="Wide Column" PartChromeType="TitleAndBorder"></snpe-zone>
    </div>
  </div>

<!-- prc -->
<snpe:PortalRemoteControl ID="RemoteControl" runat="server" TagContainer="PRCEcms" Groups="/Root/IMS/Demo/Developers;/Root/IMS/BuiltIn/Portal/Administrators" />
<sn:ScriptRequest runat="server" Path="$skin/scripts/init.js" />
</body>
</html>
