<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=snLang%>" xml:lang="<%=snLang%>">
<head>
    <title>Sense/Net 6.1 Demo Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <sn:BaseTag ID="BaseTagControl1" runat="server" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="sn-body sn-layout3 sn-layout-inter sn-inter-<%=snLang%>">
<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
    
  <sn:CssRequest CSSPath="$skin/styles/jqueryui/jquery-ui.css" ID="pageTemplateUIStyleReq" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/sn-layout.css" ID="snLayoutCss" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/skin.css" ID="pageTemplateCssRequest1" runat="server" />
    
  <div class="sn-layout-container ui-helper-clearfix">
    <div class="sn-layout-head">
      <div class="sn-layout-head-left">
      <div class="sn-logo">
        <a href="/" title="Sense/Net 6.1 Site" class="snPortalengine"></a>
      </div>      
      </div>
      <div class="sn-layout-head-right">
      <div class="sn-searchandlogin">
        <snpe:ContextSearch Renderer="/Root/System/SystemPlugins/Portlets/ContextSearch/QuickView.ascx" ID="QuickSearch1" runat="server" QuickSearchMode="True" 
            ContextInfoID="workspaceContext" />
        <snpe:advancedloginportlet title="Login" id="login" runat="server" loginviewpath="/Root/System/SystemPlugins/Portlets/AdvancedLogin/AdvancedLoginView.ascx"
                    cssclass="sn-advancedLogin" />
      </div>
      </div>
      
      
    </div>
  
    <div class="sn-layout-full">
      <snpe-zone name="FullCol" HeaderText="Full Column" PartChromeType="None">
                      <snpe:BreadCrumbPortlet BindTarget="CurrentContent" ID="BreadCrumb" runat="server" Separator=" / " ShowSite="True" SiteDisplayName="Home" ChromeType="BorderOnly" />
      </snpe-zone>
      <div class="sn-columns ui-helper-clearfix">
      <div class="sn-column sn-column1">
        <snpe-zone name="LeftCol" HeaderText="Left Column" PartChromeType="TitleAndBorder"></snpe-zone>
      </div>
      <div class="sn-column sn-column2">
        <div class="sn-columns ui-helper-clearfix">
            <snpe-zone name="WideCol" HeaderText="Wide Column" PartChromeType="TitleAndBorder"></snpe-zone>
          <div class="sn-column sn-column1">
              <snpe-zone name="CenterCol" HeaderText="Center Column" PartChromeType="TitleAndBorder"></snpe-zone>
            <div class="sn-columns ui-helper-clearfix">
              <div class="sn-column sn-column1">
                <snpe-zone name="CenterLeftCol" HeaderText="Center / Left Column" PartChromeType="TitleAndBorder"></snpe-zone>
              </div>
              <div class="sn-column sn-column2">
                <snpe-zone name="CenterRightCol"  HeaderText="Center / Right Column" PartChromeType="TitleAndBorder"></snpe-zone>
              </div>
            </div>
          </div>
          <div class="sn-column sn-column2">
            <snpe-zone name="RightCol" HeaderText="Right Column" PartChromeType="TitleAndBorder"></snpe-zone>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="sn-copyright">
          <a href="/legal/">Legal</a><span class="sn-separator"> &bull; </span>
          Powered by <a href="http://www.sensenet.com" title="www.sensenet.com">Sense/Net CMS Community Edition 6.1 (V6.1.0.3723)</a>
        </div>
  </div>
    
<!-- prc -->
<snpe:PortalRemoteControl ID="RemoteControl" runat="server" Groups="/Root/IMS/Demo/Developers;/Root/IMS/BuiltIn/Portal/Administrators" />
<sn:ScriptRequest runat="server" Path="$skin/scripts/init.js" />
</body>
</html>
