<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=snLang%>" xml:lang="<%=snLang%>">
<head>
    <title>Ін[Док] Демо портал</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <sn:basetag id="BaseTagControl1" runat="server" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!--[if IE 8]>     <html class="ie8"> <![endif]-->  
    <!--[if IE 9]>     <html class="ie9"> <![endif]--> 
</head>
<body class="sn-body sn-layout3 sn-layout-inter sn-layout-inter-index sn-inter-<%=snLang%> <%= SenseNet.Portal.UI.UITools.GetPageModeClass() %>">
    <% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
    <sn:cssrequest csspath="$skin/styles/jqueryui/jquery-ui.css" id="pageTemplateUIStyleReq"
        runat="server" />
    <sn:cssrequest csspath="$skin/styles/sn-layout.css" id="snLayoutCss" runat="server" />
    <sn:cssrequest csspath="$skin/styles/skin.css" id="pageTemplateCssRequest1" runat="server" />

    <div class="sn-layout-container sn-layout-index ui-helper-clearfix">
        <div class="sn-layout-head">
            <div class="sn-layout-head-inner">
            <div class="headerZone">
                <snpe-zone name="HeaderZone" headertext="HeaderZone" partchrometype="None"></snpe-zone>
            </div>
                <a class="sn-slogen" href="/">The open source<br />
                    ECMS for .Net </a>
                <snpe:contextsearch renderer="/Root/System/SystemPlugins/Portlets/ContextSearch/QuickView.ascx"
                    id="QuickSearch1" runat="server" quicksearchmode="True" searchresultpagepath="/Root/Sites/Default_Site/features/Search" />
                <snpe:advancedloginportlet title="Login" id="login" runat="server" loginviewpath="/Root/System/SystemPlugins/Portlets/AdvancedLogin/AdvancedLoginView.ascx"
                    cssclass="sn-advancedLogin" />
            </div>
        </div>
        <div class="sn-layout-really-full">
            <snpe-zone name="Full" headertext="Full" partchrometype="None"></snpe-zone>
        </div>
        <div class="sn-layout-full">
            <snpe-zone name="FullCol" headertext="Full Column" partchrometype="None"></snpe-zone>
        </div>
        <div class="sn-columns ui-helper-clearfix">
            <div class="sn-column sn-column1">
                <snpe-zone name="LeftCol" headertext="Left Column" partchrometype="TitleAndBorder"></snpe-zone>
            </div>
            <div class="sn-column sn-column2">
                <div class="sn-columns ui-helper-clearfix">
                    <div class="sn-layout-full">
                        <snpe-zone name="WideCol" headertext="Wide Column" partchrometype="TitleAndBorder"></snpe-zone>
                    </div>
                    <div class="sn-column sn-column1">
                        <div class="sn-layout-full">
                            <snpe-zone name="CenterCol" headertext="Center Column" partchrometype="TitleAndBorder"></snpe-zone>
                        </div>
                        <div class="sn-columns ui-helper-clearfix">
                            <div class="sn-column sn-column1">
                                <snpe-zone name="CenterLeftCol" headertext="Center / Left Column" partchrometype="TitleAndBorder"></snpe-zone>
                            </div>
                            <div class="sn-column sn-column2">
                                <snpe-zone name="CenterRightCol" headertext="Center / Right Column" partchrometype="TitleAndBorder"></snpe-zone>
                            </div>
                        </div>
                    </div>
                    <div class="sn-column sn-column2">
                        <snpe-zone name="RightCol" headertext="Right Column" partchrometype="TitleAndBorder"></snpe-zone>
                    </div>
                </div>
            </div>
        </div>
        <div class="sn-layout-foot ui-helper-clearfix">
            <div class="sn-layout-foot-center ui-helper-clearfix">
            <div class="sn-layout-foot-left">
                <snpe-zone name="FooterLeft" headertext="Footer" partchrometype="None"></snpe-zone>
                </div>
                <div class="sn-layout-foot-right">
                    <snpe-zone name="Footer" headertext="FooterRight" partchrometype="None">
                        <snpe:ContentCollectionPortlet Title="FooterMenu1" ChromeType="None" BindTarget="CustomRoot" CustomRootPath="/Root/Sites/Default_Site/workspaces" Renderer="/Root/Global/renderers/sitemapMenu.xslt" ID="FooterMenu1" runat="server" SkinPreFix="footer-ws" />
                        <snpe:ContentCollectionPortlet Title="FooterMenu2" ChromeType="None" BindTarget="CustomRoot" CustomRootPath="/Root/Sites/Default_Site/NewsDemo" Renderer="/Root/Global/renderers/sitemapMenu.xslt" ID="FooterMenu2" runat="server" SkinPreFix="footer-newsdemo" />
                        <snpe:ContentCollectionPortlet Title="FooterMenu3" ChromeType="None" BindTarget="CustomRoot" CustomRootPath="/Root/Sites/Default_Site/features" Renderer="/Root/Global/renderers/sitemapMenu.xslt" ID="FooterMenu3" runat="server" SkinPreFix="footer-features" />
                    </snpe-zone>
                </div>
                <div class="sn-layout-foot-links sn-layout-inter-foot-links"><snpe-zone name="FooterLink" headertext="FooterLinks" partchrometype="None">
                    <snpe:SingleContentPortlet UsedContentTypeName="HTMLContent" ContentPath="/Root/YourContents/footer-links" ID="FooterContent1" runat="server" CssClass="usefulLinks" />
                </snpe-zone></div>
            </div>
            
        </div>
    
        
    </div>
    <!-- prc -->

    <snpe:portalremotecontrol id="RemoteControl" runat="server" groups="/Root/IMS/Demo/Developers;/Root/IMS/BuiltIn/Portal/Administrators" />
    <sn:scriptrequest runat="server" path="/Root/Global/scripts/jquery/jquery.js" />
    <sn:scriptrequest runat="server" path="/Root/Global/scripts/jqueryui/jquery-ui.js" />
    <sn:scriptrequest runat="server" path="$skin/scripts/init.js" />

        <div class="versiondiv">
            <snpe-zone name="Version" headertext="Version" partchrometype="None" />
        </div>
</body>
</html>
