<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=snLang%>" xml:lang="<%=snLang%>">
<head>
    <title><% = (SenseNet.Portal.Virtualization.PortalContext.Current.Workspace != null) ? SenseNet.Portal.Virtualization.PortalContext.Current.Workspace.DisplayName : "Sense/Net" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
  <sn:BaseTag ID="BaseTagControl1" runat="server" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="sn-body sn-layout1 sn-layout-dialog sn-intra-<%=snLang%>">
<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
  
  <sn:CssRequest CSSPath="$skin/styles/jqueryui/jquery-ui.css" ID="pageTemplateUIStyleReq" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/sn-layout.css" ID="snLayoutCss" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/skin.css" ID="pageTemplateCssRequest1" runat="server" />
    
  <div class="sn-layout-container ui-helper-clearfix">
    <div class="sn-columns ui-helper-clearfix">
      <div class="sn-column sn-column1">
        <div class="sn-pt-body-border ui-widget-content">
          <div class="sn-pt-body">
            <div class="sn-breadcrumb">
              <snpe:BreadCrumbPortlet BindTarget="CurrentContent" ID="BreadCrumb" runat="server" Separator=" / " ShowSite="True" SiteDisplayName="Home" />
            </div>
          </div>
        </div>

        <snpe-zone name="WideCol" HeaderText="Wide Column" PartChromeType="TitleAndBorder"/>
        <div class="sn-columns ui-helper-clearfix">
            <div class="sn-column sn-column1"><snpe-zone name="LeftCol" HeaderText="Left Column" PartChromeType="TitleAndBorder"/></div>
            <div class="sn-column sn-column2"><snpe-zone name="RightCol" HeaderText="Right Column" PartChromeType="TitleAndBorder"/></div>
        </div>
        <snpe-zone name="WideColBottom" HeaderText="Wide Column (Bottom)" PartChromeType="TitleAndBorder"/>

        <div class="sn-pt-body-border ui-widget-content">
          <div class="sn-pt-body">
            After completing this action, you will be redirected to: <a href="<% = SenseNet.Portal.Virtualization.PortalContext.Current.BackUrl %>"><% = SenseNet.Portal.Virtualization.PortalContext.Current.BackUrlTitle %></a>
          </div>
        </div>
        <div class="sn-copyright">
          <a href="/legal/">Legal</a><span class="sn-separator"> &bull; </span>
          Powered by <a href="http://www.sensenet.com" title="www.sensenet.com">Sense/Net CMS Community Edition 6.0.8 (V6.0.8.3195)</a>
        </div>
      </div>
    </div>
  </div>
          
<!-- prc -->
<snpe:PortalRemoteControl ID="RemoteControl" runat="server" Groups="/Root/IMS/Demo/Developers;/Root/IMS/BuiltIn/Portal/Administrators" />
<sn:ScriptRequest runat="server" Path="$skin/scripts/init.js" />
</body>
</html>
