<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=snLang%>" xml:lang="<%=snLang%>">
<head>
  <title>Sense/Net 6.1 Demo Site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <sn:BaseTag ID="BaseTagControl1" runat="server" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="sn-body sn-layout1 sn-error-<%=snLang%>">
<% String snLang = SenseNet.Portal.Virtualization.PortalContext.Current.Site.Language; %>
    
  <sn:CssRequest CSSPath="$skin/styles/jqueryui/jquery-ui.css" ID="pageTemplateUIStyleReq" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/sn-layout.css" ID="snLayoutCss" runat="server" />
  <sn:CssRequest CSSPath="$skin/styles/skin.css" ID="pageTemplateCssRequest1" runat="server" />
        
  <div class="sn-layout-container ui-helper-clearfix">
    <div class="sn-layout-head">
      <div class="sn-layout-head-left">
      <div class="sn-logo">
        <a href="/" title="Sense/Net 6.1 Site"><img src="/Root/Global/images/logo_portalengine.gif" /></a>
      </div>      
      </div>
      
      
      
    </div>
    <div class="sn-columns ui-helper-clearfix">
      <div class="sn-column sn-column1 ui-helper-clearfix">
        <snpe-zone name="WideCol" HeaderText="Wide Column" PartChromeType="TitleAndBorder">
          <snpe:StatusCodePortlet Title="Status Code" ID="statusCode" runat="server" ChromeType="None"/>
        </snpe-zone>
      </div>
    </div>
     <div class="sn-copyright">
        <a href="/legal/">Legal</a><span class="sn-separator"> - </span>
          Powered by <a href="http://www.sensenet.com" title="www.sensenet.com" >Sense/Net CMS Community Edition 6.1 (V6.1.0.3723)</a>
      </div>
  </div>
    
<!-- prc -->
<snpe:PortalRemoteControl ID="RemoteControl" runat="server" Groups="/Root/IMS/Demo/Developers;/Root/IMS/BuiltIn/Portal/Administrators" />
<sn:ScriptRequest runat="server" Path="$skin/scripts/init.js" />

</body>
</html>
