<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SnCrMsSql" connectionString="Server=SQL.LIVEREPAIR.LOCAL;Database=SenseNetContentRepository;User ID=snSystem;Password=sn5318;Trusted_Connection=False"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>
