<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="uploadFileExtensions" type="System.Configuration.NameValueFileSectionHandler"/>
    <section name="webdavFileExtensions" type="System.Configuration.NameValueFileSectionHandler"/>
    <section name="currencyValues" type="System.Configuration.NameValueFileSectionHandler"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="SenseNet.Diagnostics.OneLineTraceListener, SenseNet.Storage, Version=5.9.1.2, Culture=neutral, PublicKeyToken=null" name="Custom Trace Listener" initializeData="" formatter="OneLineFormatter"/>
      <add databaseInstanceName="SnCrMsSql" writeLogStoredProcName="proc_LogWrite" addCategoryStoredProcName="proc_LogAddCategory" formatter="XmlFormatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database" name="Database Trace Listener"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="{severity} {category} {message}: Properties: {dictionary({key}={value};)}; Timestamp: {timestamp}; Machine: {machine}; AppDomain: {appDomain}; ProcessId: {processId}; Process: {processName}; Win32ThreadId: {win32ThreadId}; ThreadName: {threadName}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="OneLineFormatter"/>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
      <add template="&lt;LogEntry&gt;
  &lt;Timestamp&gt;{timestamp}&lt;/Timestamp&gt;
  &lt;Message&gt;{message}&lt;/Message&gt;
  &lt;Category&gt;{category}&lt;/Category&gt;
  &lt;Priority&gt;{priority}&lt;/Priority&gt;
  &lt;EventId&gt;{eventid}&lt;/EventId&gt;
  &lt;Severity&gt;{severity}&lt;/Severity&gt;
  &lt;Title&gt;{title}&lt;/Title&gt;
  &lt;Machine&gt;{machine}&lt;/Machine&gt;
  &lt;ApplicationDomain&gt;{appDomain}&lt;/ApplicationDomain&gt;
  &lt;ProcessId&gt;{processId}&lt;/ProcessId&gt;
  &lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;
  &lt;Win32ThreadId&gt;{win32ThreadId}&lt;/Win32ThreadId&gt;
  &lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;
  &lt;ExtendedProperties&gt;{dictionary(&lt;{key}&gt;{value}&lt;/{key}&gt;
)}&lt;/ExtendedProperties&gt;
&lt;/LogEntry&gt;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="XmlFormatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Audit">
        <listeners>
          <add name="Database Trace Listener"/>
          <add name="Custom Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Custom Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <unity>
    <typeAliases>
      <!-- Provider aliases -->
      <typeAlias alias="IApplicationCache" type="SenseNet.ContentRepository.Storage.AppModel.IApplicationCache, SenseNet.Storage"/>
      <!--<typeAlias alias="IActionFactory" type="SenseNet.ContentRepository.IActionFactory, SenseNet.ContentRepository" />-->
      <typeAlias alias="ISearchEngine" type="SenseNet.ContentRepository.Storage.Search.ISearchEngine, SenseNet.Storage"/>
      <!-- Provider implementation aliases -->
      <typeAlias alias="IApplicationCacheImpl" type="SenseNet.ContentRepository.ApplicationCache, SenseNet.ContentRepository"/>
      <!--<typeAlias alias="IActionFactoryImpl" type="SenseNet.Portal.PortalActionLinkManager, SenseNet.Portal" />-->
      <typeAlias alias="ISearchEngineImpl" type="SenseNet.Search.LuceneSearchEngine, SenseNet.ContentRepository"/>
      <!--  -->
      <typeAlias alias="MembershipExtender" type="SenseNet.ContentRepository.Storage.Security.DefaultMembershipExtender, SenseNet.Storage"/>
      <!-- Scenario aliases -->
      <typeAlias alias="GenericScenario" type="SenseNet.ApplicationModel.GenericScenario, SenseNet.Portal"/>

      <typeAlias alias="WorkspaceActions" type="SenseNet.ApplicationModel.WorkspaceActionsScenario, SenseNet.Portal"/>
      <typeAlias alias="ListActions" type="SenseNet.ApplicationModel.ListActionsScenario, SenseNet.Portal"/>
      <typeAlias alias="New" type="SenseNet.ApplicationModel.NewScenario, SenseNet.Portal"/>
      <typeAlias alias="ListItem" type="SenseNet.ApplicationModel.ListItemScenario, SenseNet.Portal"/>
      <typeAlias alias="Settings" type="SenseNet.ApplicationModel.SettingsScenario, SenseNet.Portal"/>
      <typeAlias alias="Views" type="SenseNet.ApplicationModel.ViewsScenario, SenseNet.Portal"/>
      <typeAlias alias="AddField" type="SenseNet.ApplicationModel.AddFieldScenario, SenseNet.Portal"/>

      <typeAlias alias="ActionBase" type="SenseNet.ApplicationModel.ActionBase, SenseNet.ContentRepository"/>
      <typeAlias alias="ServiceAction" type="SenseNet.ApplicationModel.ServiceAction, SenseNet.Portal"/>
      <typeAlias alias="ClientAction" type="SenseNet.ApplicationModel.ClientAction, SenseNet.Portal"/>
      <typeAlias alias="WebdavOpenAction" type="SenseNet.ApplicationModel.WebdavOpenAction, SenseNet.Portal"/>
      <typeAlias alias="WebdavBrowseAction" type="SenseNet.ApplicationModel.WebdavBrowseAction, SenseNet.Portal"/>
      <!--<typeAlias alias="CustomAction" type="SenseNet.Custom.CustomAction, SenseNet.Custom" />-->

      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>

    </typeAliases>
    <containers>
      <container name="Providers">
        <types>
          <!-- Binding providers to implementations -->
          <type type="IApplicationCache" mapTo="IApplicationCacheImpl"/>
          <!--<type type="IActionFactory" mapTo="IActionFactoryImpl" />-->
          <type type="ISearchEngine" mapTo="ISearchEngineImpl"/>
          <!--  -->
          <type name="MembershipExtender" type="MembershipExtender" mapTo="MembershipExtender">
            <lifetime type="singleton"/>
          </type>
          <type type="ActionBase" mapTo="ActionBase" name="ActionBase"/>
          <type type="ActionBase" mapTo="ServiceAction" name="ServiceAction"/>
          <type type="ActionBase" mapTo="ClientAction" name="ClientAction"/>
          <type type="ActionBase" mapTo="WebdavOpenAction" name="WebdavOpenAction"/>
          <type type="ActionBase" mapTo="WebdavBrowseAction" name="WebdavBrowseAction"/>
          <!--<type type="ActionBase" mapTo="CustomAction" name="CustomAction" />-->
          <type name="GenericScenario" type="GenericScenario" mapTo="GenericScenario">
            <lifetime type="singleton"/>
          </type>
          <type name="Actions" type="GenericScenario" mapTo="GenericScenario">
            <lifetime type="singleton"/>
          </type>
          <type name="WorkspaceActions" type="GenericScenario" mapTo="WorkspaceActions">
            <lifetime type="singleton"/>
          </type>
          <type name="ListActions" type="GenericScenario" mapTo="ListActions">
            <lifetime type="singleton"/>
          </type>
          <type name="New" type="GenericScenario" mapTo="New">
            <lifetime type="singleton"/>
          </type>
          <type name="ListItem" type="GenericScenario" mapTo="ListItem">
            <lifetime type="singleton"/>
          </type>
          <type name="Settings" type="GenericScenario" mapTo="Settings">
            <lifetime type="singleton"/>
          </type>
          <type name="Views" type="GenericScenario" mapTo="Views">
            <lifetime type="singleton"/>
          </type>
          <type name="AddField" type="GenericScenario" mapTo="AddField">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>

  <connectionStrings>
    <add name="SnCrMsSql" connectionString="Server=SQL.LIVEREPAIR.LOCAL;Database=SenseNetContentRepository;User ID=snSystem;Password=sn5318;Trusted_Connection=False"
			providerName="System.Data.SqlClient" />
  </connectionStrings>
  <uploadFileExtensions>
    <!-- set default fileextension-contenttype pairs used in 'Auto'-mode upload here 
    <add key=".doc" value="WordDocument" />
    <add key=".docx" value="WordDocument" />
    <add key=".xls" value="ExcelDocument" />
    <add key=".xlsx" value="ExcelDocument" />
    <add key=".ppt" value="PowerPointDocument" />
    <add key=".pptx" value="PowerPointDocument" />
    <add key=".pps" value="PowerPointDocument" />
    <add key=".ppsx" value="PowerPointDocument" />
    <add key=".pdf" value="PDFDocument" /> -->
    <add key=".jpg" value="Image"/>
    <add key=".jpeg" value="Image"/>
    <add key=".gif" value="Image"/>
    <add key=".png" value="Image"/>
    <add key=".bmp" value="Image"/>
    <!-- <add key=".aspx" value="Page" /> -->
  </uploadFileExtensions>
  <webdavFileExtensions>
    <!-- set default fileextension-contenttype pairs used in webdav file upload here 
    <add key=".doc" value="WordDocument" />
    <add key=".docx" value="WordDocument" />
    <add key=".xls" value="ExcelDocument" />
    <add key=".xlsx" value="ExcelDocument" />
    <add key=".ppt" value="PowerPointDocument" />
    <add key=".pptx" value="PowerPointDocument" />
    <add key=".pps" value="PowerPointDocument" />
    <add key=".ppsx" value="PowerPointDocument" />
    <add key=".pdf" value="PDFDocument" /> -->
    <add key=".jpg" value="Image"/>
    <add key=".jpeg" value="Image"/>
    <add key=".gif" value="Image"/>
    <add key=".png" value="Image"/>
    <add key=".bmp" value="Image"/>
    <!-- <add key=".aspx" value="Page" /> -->
  </webdavFileExtensions>
  <currencyValues>
    <add key="USD" value="$"/>
    <add key="EUR" value="€"/>
  </currencyValues>
  <appSettings>
    <add key="UriPlaceholderChar" value="-"/>
    <!--<add key="DirectoryProvider" value="SenseNet.DirectoryServices.ADProvider" />-->
    <add key="DiskFSSupportMode" value="Prefer"/>
    <add key="GlobaFieldControlTemplateEnabled" value="false"/>
    <add key="DataProvider" value="SenseNet.ContentRepository.Storage.Data.SqlClient.SqlProvider"/>
    <add key="AccessProvider" value="SenseNet.ContentRepository.Security.UserAccessProvider"/>
    <add key="DefaultLockTimeout" value="10000000"/>
    <add key="DefaultAuthenticationMode" value="Windows"/>
    <add key="DefaultDomain" value="BuiltIn"/>
    <add key="DefaultSiteName" value="Default Site"/>
    <add key="CrawlerStart" value="false"/>
    <add key="SMTP" value="mail.sn.hu"/>
    <!--<add key="DefaultEmailSender" value="___@_____.__" />-->
    <add key="ClientCacheHeaders" value=".jpg=600;.jpeg=600;.gif=600;.css=600;.png=600;.js=600;.swf=600"/>
    <add key="UploadFileSize" value="20480"/>
    <add key="WebContentNameList" value="WebContent"/>

    <!-- structure -->
    <add key="ContentTemplateFolderPath" value="/Root/ContentTemplates"/>
    <add key="IMSFolderPath" value="/Root/IMS"/>
    <add key="ResourceFolderPath" value="/Root/Localization"/>
    <add key="SkinRootFolderPath" value="/Root/Skins"/>
    <add key="SkinGlobalFolderPath" value="/Root/Global"/>

    <!-- javascript loading -->
    <add key="ScriptMode" value="Debug"/>
    <add key="UseScriptDependencyCache" value="false"/>

    <!-- javascript entries start -->
    <add key="MSAjaxPath" value="msajax/Start.debug.js"/>
    <add key="MSAjaxExtendedPath" value="msajax/extended/ExtendedControls.debug.js"/>
    <add key="SNWebdavPath" value="sn/SN.WebDav.js"/>
    <add key="SNReferenceGridPath" value="sn/SN.ReferenceGrid.js"/>
    <add key="SNPickerPath" value="sn/SN.Picker.js"/>
    <add key="SNPortalRemoteControlPath" value="sn/SN.PortalRemoteControl.Application.js"/>
    <add key="TinyMCEPath" value="tinymce/tiny_mce_src.js"/>
    <add key="jQueryPath" value="jquery/jquery.js"/>
    <add key="jQueryUIPath" value="jqueryui/minified/jquery-ui.min.js"/>
    <add key="jQueryTreePath" value="jquery/plugins/tree/jquery.tree.js"/>
    <add key="jQueryTreeCheckboxPluginPath" value="jquery/plugins/jquery.tree.checkbox.js"/>
    <add key="jQueryGridPath" value="jquery/plugins/grid/jquery.jqGrid.min.js"/>
    <add key="SwfUploadScriptPath" value="swfupload/swfupload.js"/>
    <add key="SwfObjectPath" value="swfupload/plugins/swfupload.swfobject.js"/>
    <!-- javascript entries end -->

    <!-- themes start -->
    <add key="jQueryCustomUICssPath" value="/Root/Global/styles/jqueryui/sn/jquery-ui.css"/>
    <add key="jQueryCustomUIAllCssPath" value="/Root/Global/styles/jqueryui/sn/jquery.ui.all.css"/>
    <add key="jQueryTreeThemePath" value="/Root/Global/scripts/jquery/plugins/tree/themes/default/style.css"/>
    <add key="jQueryGridCSSPath" value="/Root/Global/scripts/jquery/plugins/grid/themes/ui.jqgrid.css"/>
    <!-- themes end -->

    <add key="ErrorPage" value="ErrorPage.html"/>
    <add key="AbsoluteExpirationSeconds" value="15"/>
    <add key="SlidingExpirationSeconds" value="16"/>
    <add key="ClusterChannelProvider" value="SenseNet.Communication.Messaging.MsmqChannelProvider, SenseNet.Storage"/>
    <add key="MsmqChannelQueueName" value=".\private$\ryan"/>
    <add key="WebdavDefaultPageTemplate" value="Internet_Page.html"/>
    <add key="BackwardCompatibilityXmlNamespaces" value="true"/>
    <!-- Default IndexDirectoryPath: 'LuceneIndex' directory in the parent of executing assembly codebase.
    Configured path can be absolute or relative -->
    <!--<add key="IndexDirectoryPath" value="..\LuceneIndex" />-->
    <add key="EnableOuterSearchEngine" value="true"/>
    <!--
		<add key="PresenterFolderName" value="(apps)" />
		<add key="PresenterPagePostfix" value="App" />
		-->
    <!--Trace report configuration-->
    <!--DefaultValue: false-->
    <!--<add key="EnableTraceReportOnPage" value="false" />-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
