<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ThreadCount" value="100"/>
    <add key="MaxFileCount" value="10000000"/>
    <!--<add key="FolderProfile" value="10;100"/>-->
    <add key="FolderProfile" value="10;10"/>
    <add key="FileRootPath" value="C:\benchmarkfiles"/>
    <add key="ContentRepositoryPath" value="/Root/YourDocuments/Benchmark"/>
    <add key="MaxTaskQueueSize" value="100"/>
    <add key="RequestTimeout" value="1000"/>

    <add key="Urls" value="http://localhost/benchmark.ashx"/>
    <!--<add key="Urls" value="http://repoweb01/benchmark.ashx,http://snteamdev04/benchmark.ashx"/>-->

    <add key="SessionName" value="unknown"/>
    <add key="SaveDetailedLog" value="false"/>
    <add key="EnableEqualLoad" value="true"/>
    <!--<add key="AdminEmails" value="snteam@sensenet.com"/>-->
    <!-- email sending frequecy in minutes -->
    <!--<add key="EmailFrequency" value="30"/>-->
    <!--<add key="ProxyAddress" value=""/>
    <add key="ProxyUserName" value=""/>
    <add key="ProxyPassword" value=""/>-->
    <!--<add key="ElasticEmailUserName" value="tusmester@gmail.com"/>
    <add key="ElasticEmailApiKey" value="58f0b75e-323b-48c3-8501-6fa66f85e818"/>-->    
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2000000" />
    </connectionManagement>
    <!--<mailSettings>
      <smtp>
        <network
            host="mail.sn.hu"
            port="25"
            userName="123"
            password="123"
          />
      </smtp>
    </mailSettings>-->
  </system.net>
</configuration>
